.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: #4e4376;
}

.messages {
    padding: 10px;
}

.messages .message {

}